.card-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Info-Box {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    margin: 0 auto;
}